*.csv
*.py
*.txt
*.zip
*.xlsx
*.torch


Untitled*
make_cci_df.ipynb


*model*
training*
brazil/  
clipped_phl/  
extracted/  
extracted_phl/  
extracted_phl2/  
imagery/  
new_phl/  
__pycache__/  
shapefiles/
.ipynb_checkpoints/
